{% extends "bootstrap/base.html" %}
{% block html_attribs %} lang="en"{% endblock %}
{% block title %}S3 Storage{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Video Transcoder</a>
            </div>
            <ul class="nav navbar-nav">
                <li><a href="/">Upload to Transcode</a></li>
                <li class="active"><a href="/download">Ready to Download</a></li>
            </ul>
        </div>
    </nav>
{% endblock %}

{% block content %}
    <div class = "container">
        <div class = "row">
            <div class = "col-12-xs">
                <h3>Files Ready to Download</h3>
                <p>Created: {{ my_bucket.creation_date | timeformat}}</p>

                <hr>
                <table class="table table-striped">
                    <tr>
                        <th>Filename</th>
                        <th>Last Modified</th>
                        <th>Type</th>
                    </tr>
                    {% for f in files %}
                    <tr>
                        <td>{{ f.key }}</td>
                        <td>{{ f.last_modified | timeformat}}</td>
                        <td>{{ f.key | file_type }}</td>
                    </tr>
                    {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}