<!DOCTYPE html>
<html lang="en">

<head>
    <title>{% block title %}{% endblock %} - S3 Index</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="/static/stylesheets.css">
    <link rel="stylesheet" href="/static/ani.css">

</head>

{% block navbar %}
    <nav class="nav animated fadeIn delay-1s">
        <div class="">
            <h2><a class="">Video Transcoder</a></h2>
        </div>
        <div>
            <table>
                <tbody>
                    <tr>
                        <td>
                            <button onclick="location.href='/';">Upload to Transcode</button>
                        </td>
                        <td>
                            <button onclick="location.href='/download';">Ready to Download</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </nav>

    <!-- <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Video Transcoder</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="/">Home</a></li>
                <li><a href="/files">Upload to Transcode</a></li>
                <li><a href="/download">Download</a></li>
            </ul>
        </div>
    </nav> -->
{% endblock %}

{% block content %}
    <h1>Video Transcoder</h1>
{% endblock %}